* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Anton, Serif, serif;
}

#product-overview {
    background: url('freedom.jpg');
    color: #ffffff;
    padding: 20px;
    height: 428px;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    padding: 16px;
    margin: 8px;
    width: 30%;
    display: inline-block;
    text-align: center;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features > li {
    margin: 8px 0;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.29);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.29);
    border-radius: 8px;
}

#product-overview h1 {
    font-family: Anton, Serif, serif;
}

.main-header {
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header__brand {
    font-size: 25px;
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 102px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    text-align: right;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item > a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta > a {
    padding: 8px 16px;
    color: white;
    background: #ff1b68;
    border-radius: 8px;
}

.main-nav__item--cta > a:hover,
.main-nav__item--cta > a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

