@import "vendor/normalize.css";
@import "utils";
@import "variables";
@import "scroll";


@mixin base-button {
  background: map-get($colors, dark-green);
  color: white;
  font-weight: bold;
  border: 2px solid map-get($colors, dark-green);
  padding: .4rem .2rem;
  border-radius: .2rem;
  transition: all .3s ease-out;

  &:hover {
    background: white;
    border: 2px solid map-get($colors, dark-green);
    color: map-get($colors, dark-green);
  }
}


html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: 3rem auto fit-content(8rem);
  grid-template-areas: "header""main""footer";
  position: relative;
}

.modal {
  background: white;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 13;
  border: 2px solid map-get($colors, dark-green);
  padding: 2rem;
  text-align: center;
  border-radius: .5rem;
  display: none;
  margin: 0 auto;

  h1 {
    color: map-get($colors, dark-green);
  }

  .button-confirm {
    @include base-button();
  }

  .button-cancel {
    @include base-button();
    background: map-get($colors, light-pink);
    color: white;
    border: 2px solid map-get($colors, light-pink);

    &:hover {
      background: white;
      color: map-get($colors, light-pink);
      border: 2px solid map-get($colors, light-pink);
    }
  }
}

.show-modal {
  display: block;
}

.main-header {
  background: map-get($colors, light-green);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  grid-area: header;

  @media (min-width: 40rem) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    align-items: center;
    width: 90%;

    .main-brand {
      display: flex;
      align-items: center;
      justify-content: center;

      .main-brand__menu {
        margin-left: .5rem;
        color: map-get($colors, dark-green);
      }

      .main-brand__image {
        height: 2.5rem;
      }
    }


    @media (min-width: 40rem) {
      justify-content: space-between;
      padding: .5rem 0;

      .main-brand__menu {
        display: none;
      }
    }
  }

  .main-nav {
    display: none;
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    background: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 20 !important;

    .mobile-nav__item {
      text-decoration: none;
      color: map-get($colors, dark-green);
      font-weight: bold;
      margin-bottom: 1.3rem;

      &.action-btn {
        padding: 0.8rem 0.4rem;
        background: map-get($colors, light-pink);
        border-radius: 0.5rem;
        color: white;
        transition: background-color 0.25s ease-out;
        border: 2px solid transparent;

        &:hover,
        &:active {
          border: 2px solid map-get($colors, light-pink);
          background: white;
          color: map-get($colors, light-pink);
        }
      }


    }

  }

  @media (min-width: 40rem) {
    .main-nav {
      display: block;
    }

    .main-nav__item {
      padding: .5rem;
      text-decoration: none;
      color: map-get($colors, dark-green);
      font-weight: bold;
      margin: 0 .6rem;

      &:hover {
        color: white;
        border-bottom: 4px solid white;
      }

      &.action-btn {
        display: inline-block;
        background: map-get($colors, light-pink);
        border-radius: 0.5rem;
        color: white;
        transition: background-color 0.25s ease-out;
        animation: swing 800ms 8 alternate;

        &:hover,
        &:active {
          background: white;
          color: map-get($colors, light-pink);
          border-bottom: none;
        }
      }

    }

    .mobile-nav {
      display: none;
    }

  }

}

main {
  grid-area: main;
}

#product-overview {
  height: 30vh;
  background-image: url("images/freedom.jpg"),
    linear-gradient(170deg, rgba(193, 193, 193, 0.44348161627932425) 0%, rgba(143, 115, 14, 0.776537641423757) 0%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 20% left 30%;
  position: relative;

  @media (min-width: 40rem) {
    height: 50vh;
  }

  h1 {
    font-family: Anton, sans-serif;
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);

    @media (min-width: 40rem) {
      font-size: 3rem;
      bottom: 1rem;
      left: 2rem;
    }
  }
}

.backdrop {
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: none;
}

.show-menu {
  display: flex !important;
}

.show-backdrop {
  display: block;
}


#plans {

  .plan__header {
    text-align: center;
    color: map-get($colors, light-green);
  }

  .plan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    .plan {
      background: lighten(map-get($colors, "light-green"), 35%);
      margin-bottom: .8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 28rem;
      width: 100%;


      &.plan__highlighted .plan__title {
        width: 90%;
        background: white;
        padding: 0.5rem;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        border-radius: .5rem;
      }

      .plan__title {
        color: map-get($colors, dark-green);
      }

      .plan__price {
        color: gray;
        font-size: 1.5rem;
        margin: 0;
      }

      .choose-btn {
        background: map-get($colors, dark-green);
        padding: .5rem 1rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-align: center;
        color: white;
        font-weight: bold;
        border-radius: .5rem;
        border: 2px solid transparent;
        transition: all .2s ease-out;

        &:hover {
          background: white;
          color: map-get($colors, dark-green);
          border: 2px solid map-get($colors, dark-green);
        }

      }
    }

    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: center;

      .plan {
        width: 30%;
        max-width: 25rem;

        &.plan__highlighted {
          z-index: 1;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
          background: lighten(map-get($colors, dark-green), 20%);
          color: white;
          height: 30rem;

          .plan__price {
            color: map-get($colors, dark-green);
          }
        }
      }
    }
  }
}


#key-features {
  background: map-get($colors, light-pink);
  padding: 1rem 2rem;
  margin-top: 3rem;

  .section-title {
    color: white;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .key-feature__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;

    .key-feature {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: .3rem;
      max-width: 18rem;

      .key-feature__image {
        height: 6rem;
        width: 6rem;
        border: 1px solid black;
        border-radius: 50%;
        padding: 1.3rem;
        background: lightpink;
      }

      .key-feature__description {
        color: white;
        font-size: 125%;
        font-weight: bold;
      }
    }

    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: space-around;



      .key-feature__description {
        text-align: center;
      }
    }
  }
}


.main-footer {
  background: black;
  padding: .5rem 0;
  margin-top: 2rem;
  grid-area: footer;

  .main-footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-footer__link {
      list-style: none;
      padding: 1rem .5rem;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: gray;
        }
      }
    }

    @media (min-width: 40rem) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}