#main-packages {
    margin-top: 30px;
}

.main-package {
    border: 4px solid #0e4f1f;
    border-left: 0;
    margin: 16px 0;
    padding: 32px;
    width: 80%;
    background: rgba(213, 255, 220, 0.87);
}

.main-package:hover {
    border: 4px solid rgba(241, 74, 30, 0.9);
    border-left: 0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.32);
}

.main-package > a {
    text-decoration: none;
}

.main-package__title {
    font-weight: bold;
    font-size: 25px;
    color: #000;
}

.main-package__sub-title {
    color: #8a8585;
}

.main-package__description {
    border: 2px solid #0e4f1f;
    padding: 18px;
    color: #0e4f1f;
    font-size: 22px;
    background: white;
}

.main-package__free {
    float: right;
    border-left: 4px solid #0e4f1f;
    border-right: none;
}

.main-package__free:hover {
    border-left: 4px solid rgba(241, 74, 30, 0.9);
    border-right: none;
}

.clearfix {
    clear: both;
}

.main-package--premium {
    background: #0e4f1f;
}

.main-package--premium .main-package__title {
    color: white;
}

.main-package--premium .main-package__sub-title {
    color: rgba(213, 206, 206, 0.86);
    font-size: 25px;
}
