main {
    padding-top: 1.5rem;
}

.signup-title {
    text-align: center;
    color: #ff5454;
}

.signup-form {
    padding: 1.6rem;
    display: grid;
    grid-auto-rows: fit-content(2rem);
    grid-row-gap: 0.5rem;
}

.signup-form input,
.signup-form select {
    border: 2px solid #cccccc;
    padding: 0.2rem 0.5rem;
    font: inherit;
}

.signup-form [type="checkbox"],
.signup-form [id*="term"],
.signup-form [for*="term"] {
    vertical-align: middle;
}

.signup-form input:focus:not([type="chekbox"]),
.signup-form input:focus-visible:not([type="checkbox"]),
.signup-form select:focus,
.signup-form select:focus-visible {
    outline: none;
    background: #2ddf5c;
}

.signup-form label,
input,
select {
    display: block;
    width: 100%;
}

.signup-form label {
    padding: 1rem 0;
}

label {
    font-size: 1rem;
}

[id="agree-terms"],
label[for*="terms"] {
    display: inline-block;
    width: auto;
}

.signup-form [type="checkbox"] {
    border: 2px solid #cccccc;
    width: 1rem;
    height: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.signup-form [type="checkbox"]:checked {
    border: 2px solid #0e4f1f;
    background: #2ddf5c;
}

button[type="submit"] {
    display: block;
    margin-top: 1rem;
}

input:not([type="button"]):invalid {
    border-color: #ff1b68;
    background: #ff5454;
}

@media (min-width: 40rem) {
    .signup-form {
        margin: auto;
        width: 40rem;
        grid-template-columns: 6rem 30rem;
        justify-content: center;
        grid-row-gap: 1rem;
    }

    [id="title"] {
        grid-column: span 2;
    }

    .signup-form__checkbox {
        grid-column: span 2;
    }

}
